@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@import "tailwindcss";

@theme{
    --font-SyneMono: Syne Mono, "sans-serif";
    --default-font-family: var(--font-SyneMono);
}

body {
  cursor: url('/agrippa.png'), auto;
  background-image: url('/background.png');
  background-repeat:no-repeat;
  background-position:bottom center;
  background-size:100% auto;
  background-attachment:fixed;
  z-index:0;
}

* {
  cursor: inherit;
}

a, button, [role="button"] {
  cursor: url('/agrippa.png'), pointer;
}